.color-selector-container {
  position: absolute;
  width: 12rem;
  height: 3rem;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 0 6px var(--gray-shade5);
  border: 1px solid var(--gray-shade5);
  z-index: 10;
  bottom: 1.6rem;
  left: 17.3rem;
  border-radius: 6px;
}

.color-selector-container div:nth-child(1) {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #aecbfa;
  border-radius: 50%;
}

.color-selector-container div:nth-child(2) {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #e6c9a8;
  border-radius: 50%;
}

.color-selector-container div:nth-child(3) {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fdcfe8;
  border-radius: 50%;
}

.color-selector-container div:nth-child(4) {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #ccff90;
  border-radius: 50%;
}

.color-selector-container div:nth-child(5) {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff475;
  border-radius: 50%;
}
