.filter-modal-container {
  width: 20rem;
}

.filter-modal-position {
  top: 10%;
  right: 35%;
}

.p-1 {
  padding: 1rem;
}

.filter-inputs-container {
  gap: 2.5rem;
  margin-bottom: 2rem;
}

.filter-input-container {
  align-items: center;
  gap: 0.5rem;
}

.filter-heading-container {
  border-bottom: 1px solid var(--gray-shade5);
}

.filter-heading {
  font-size: 1.3rem;
}

.filter-label {
  font-size: 0.9rem;
}

.filter-input-heading {
  font-size: 0.93rem;
  font-weight: 500;
}

.m-bottom-small {
  margin-bottom: 0.5rem;
}

.filter-label-container {
  flex-direction: column;
  gap: 0.5rem;
}

.modal-dark-theme {
  background-color: var(--ecommerce-btn-clr);
  color: var(--text-primary);
}

.modal-dark-theme::placeholder {
  color: var(--text-primary);
}

.pri-btn-bg {
  background-color: var(--note-pri-clr);
}
