.add-note-inp {
  width: 35rem;
  border-radius: 5px;
  padding: 0.8rem;
  margin-right: 10rem;
  margin-left: 7rem;
}

.notes-container {
  width: 78%;
  padding: 2rem 0;
}

.font-size-small {
  font-size: 0.7rem;
}

.notecard-container {
  margin-top: 1rem;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 5rem;
}

.f-weight-500 {
  font-weight: 500;
}

.pri-btn-style {
  background-color: var(--note-pri-clr);
  padding: 0.7rem;
  outline: none;
}

.pri-outline-btn {
  background-color: var(--light-clr);
  color: var(--note-pri-clr);
  border: 1px solid var(--note-pri-clr);
}

.pri-outline-btn:hover {
  background-color: var(--note-pri-clr);
  color: var(--light-clr);
}

.btn-small-size {
  padding: 0.5rem 0.7rem;
}

.create-note-container {
  width: 35rem;
  border: 1px solid var(--gray-shade5);
  padding: 1rem;
  margin-right: 10rem;
  margin-left: 7rem;
  border-radius: 8px;
}

.title-inp-container {
  justify-content: space-between;
  align-items: center;
}

.note-title-inp {
  width: 95%;
  border: none;
  outline: none;
  font-size: 0.9rem;
}

.create-note-textarea {
  width: 95%;
  resize: none;
  height: max-content;
  border: none;
  outline: none;
  overflow: hidden;
  font-size: 0.9rem;
}

.create-note-btn-container {
  width: 8.5rem;
}

.create-note-footer-icons-container {
  width: 10rem;
}

.align-items-start {
  align-items: flex-start;
}

.note-priority-dropdown {
  border: 1px solid var(--gray-shade5);
  outline: none;
  width: 4.5rem;
  border-radius: 3px;
}

.notecard-bg-blue {
  background-color: var(--notecard-bg-blue);
}

.notecard-bg-brown {
  background-color: var(--notecard-bg-brown);
}

.notecard-bg-pink {
  background-color: var(--notecard-bg-pink);
}

.notecard-bg-green {
  background-color: var(--notecard-bg-green);
}

.notecard-bg-yellow {
  background-color: var(--notecard-bg-yellow);
}

@media screen and (max-width: 655px) {
  .notes-container {
    width: 85%;
    padding: 2rem 1rem;
  }

  .add-note-inp {
    width: 32rem;
    margin-right: 3rem;
    margin-left: 7rem;
  }

  .create-note-container {
    width: 32rem;
    margin-right: 3rem;
    margin-left: 7rem;
  }

  ::placeholder {
    font-size: 1rem;
  }
}

@media screen and (max-width: 575px) {
  .add-note-inp {
    margin-right: 4rem;
    margin-left: 1rem;
  }

  .create-note-container {
    margin-right: 4rem;
    margin-left: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .notecard-container {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  .add-note-inp {
    margin-right: 1rem;
  }

  .create-note-container {
    margin-right: 1rem;
  }

  .btn-small-size {
    padding: 0.5rem 0.6rem;
  }

  .create-note-btn-container {
    width: 7.8rem;
  }

  .select-option-sty {
    font-size: 1rem;
  }

  .note-priority-dropdown {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 400px) {
  .btn-small-size {
    padding: 0.5rem 0.4rem;
    font-size: 0.73rem;
  }

  .create-note-btn-container {
    width: 5.8rem;
  }

  .create-note-footer-icons-container {
    width: 8.2rem;
  }

  .note-priority-dropdown {
    font-size: 0.65rem;
    width: 3.5rem;
  }

  .select-option-sty {
    font-size: 0.65rem;
  }

  ::placeholder {
    font-size: 0.8rem;
  }

  .btn-label-responsive-sty {
    padding: 0.5rem 0.35rem;
    margin-right: 0.2rem;
  }

  .btn-filter-responsive-sty {
    padding: 0.5rem 0.35rem;
  }

  .notes-btn-icon-resize {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 340px) {
  .notes-container {
    width: 88%;
    padding: 2rem 0.5rem;
  }
}
