.add-note-inp {
  width: 35rem;
  border-radius: 5px;
  padding: 0.8rem;
  margin-right: 10rem;
  margin-left: 7rem;
}

.notes-container {
  width: 78%;
  padding: 2rem 0;
}

.font-size-small {
  font-size: 0.7rem;
}

.notecard-container {
  margin-top: 1rem;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 5rem;
}

.f-weight-500 {
  font-weight: 500;
}

.pri-btn-style {
  background-color: var(--note-pri-clr);
  padding: 0.7rem;
  outline: none;
}

.pri-outline-btn {
  background-color: var(--light-clr);
  color: var(--note-pri-clr);
  border: 1px solid var(--note-pri-clr);
}

.pri-outline-btn:hover {
  background-color: var(--note-pri-clr);
  color: var(--light-clr);
}

.btn-small-size {
  padding: 0.5rem 0.7rem;
}

.create-note-container {
  width: 35rem;
  border: 1px solid var(--gray-shade5);
  padding: 1rem;
  margin-right: 10rem;
  margin-left: 7rem;
  border-radius: 8px;
}

.title-inp-container {
  justify-content: space-between;
  align-items: center;
}

.note-title-inp {
  width: 95%;
  border: none;
  outline: none;
  font-size: 0.9rem;
}

.create-note-textarea {
  width: 95%;
  resize: none;
  height: max-content;
  border: none;
  outline: none;
  overflow: hidden;
  font-size: 0.9rem;
}

.create-note-btn-container {
  width: 8.5rem;
}

.create-note-footer-icons-container {
  width: 10rem;
}

.align-items-start {
  align-items: flex-start;
}

.note-priority-dropdown {
  border: 1px solid var(--gray-shade5);
  outline: none;
  width: 4.5rem;
  border-radius: 3px;
}

.notecard-bg-blue {
  background-color: var(--notecard-bg-blue);
}

.notecard-bg-brown {
  background-color: var(--notecard-bg-brown);
}

.notecard-bg-pink {
  background-color: var(--notecard-bg-pink);
}

.notecard-bg-green {
  background-color: var(--notecard-bg-green);
}

.notecard-bg-yellow {
  background-color: var(--notecard-bg-yellow);
}
