.font-clr {
  color: var(--secondary-clr);
}

.nav-border-bottom {
  border-bottom: 1px solid #dddddd;
}

.nav-inputbox {
  padding: 1rem;
  background-color: #f2f2f2;
  border-radius: 0 6px 6px 0;
}

.searchBar-custom-sty {
  background-color: #f2f2f2;
  color: var(--gray-shade4);
  border-radius: 6px 0 0 6px;
  padding: 1rem;
}

.nav-input-container {
  margin-right: 3rem;
}

.border-none {
  border: none;
}

.nav-heading-restyle {
  font-size: 1.4rem;
  font-weight: 400;
}

.mr-2 {
  margin-right: 2rem;
}
