.font-clr {
  color: var(--secondary-clr);
}

.nav-border-bottom {
  border-bottom: 1px solid var(--note-border-clr);
}

.nav-inputbox {
  padding: 1rem;
  background-color: var(--note-bg-light);
  border-radius: 0 6px 6px 0;
}

.searchBar-custom-sty {
  background-color: var(--note-bg-light);
  color: var(--gray-shade4);
  border-radius: 6px 0 0 6px;
  padding: 1rem;
}

.nav-input-container {
  margin-right: 3rem;
}

.border-none {
  border: none;
}

.nav-heading-restyle {
  font-size: 1.4rem;
  font-weight: 400;
}

.mr-2 {
  margin-right: 2rem;
}

.nav-inp-dark-clr {
  background-color: var(--note-nav-inp-dark-clr);
}

.gap-1 {
  gap: 1rem;
}

.gap-smaller {
  gap: 3px;
}

.flex-direction-col {
  flex-direction: column;
}

.mr-3 {
  margin-right: 3rem;
}

@media screen and (max-width: 850px) {
  .nav-inputbox {
    width: 26rem;
  }
}

@media screen and (max-width: 800px) {
  .nav-inputbox {
    width: 22rem;
  }
}

@media screen and (max-width: 655px) {
  .nav-inputbox {
    width: 25rem;
  }

  .nav-heading-restyle {
    margin: 0;
  }
}

@media screen and (max-width: 575px) {
  .nav-inputbox {
    width: 20rem;
  }
}

@media screen and (max-width: 500px) {
  .nav-inputbox {
    width: 13rem;
    font-size: 1rem;
  }

  .nav-heading-restyle {
    font-size: 1.1rem;
  }

  .nav-inner-container {
    gap: 0;
  }
}

@media screen and (max-width: 400px) {
  .nav-inputbox {
    width: 12rem;
    font-size: 0.8rem;
  }

  .nav-input-container {
    margin-right: 0;
  }

  .login-btn {
    margin: 0 3px 0 8px;
    font-size: 0.8rem;
    padding: 0.5rem;
  }

  .nav-heading-restyle {
    font-size: 1rem;
  }

  .theme-icon-title {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 340px) {
  .nav-inputbox {
    width: 10rem;
    font-size: 0.7rem;
    padding: 0rem;
  }

  .nav-inputbox::placeholder {
    font-size: 0.7rem;
  }

  .theme-icon-title {
    font-size: 0.6rem;
  }

  .nav-heading-restyle {
    font-size: 0.9rem;
  }
}
