:root {
  --note-pri-clr: #3aafa9;
  --notecard-bg-blue: #aecbfa;
  --notecard-bg-brown: #e6c9a8;
  --notecard-bg-pink: #fdcfe8;
  --notecard-bg-green: #ccff90;
  --notecard-bg-yellow: #fff475;
  --note-bg-light: #f2f2f2;
  --note-border-clr: #dddddd;
  --note-nav-inp-dark-clr: #1f2223;
  --note-border-dark-clr: #555555;
  --background: var(--light-bg-clr);
  --text-primary: var(--font-clr);
}

[data-theme="dark"] {
  --background: #0a1825;
  --text-primary: #d5d6d1;
  --note-border-clr: #555555;
  /* --plant-sec-light-clr: white;
  --text-secondary: white;
  --text-sec-dark: white; */
}

.app {
  background-color: var(--background);
  color: var(--text-primary);
  min-height: 100vh;
}

html {
  font-size: 100%;
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 67%;
  }
}
