:root {
  --note-pri-clr: #3aafa9;
  --notecard-bg-blue: #aecbfa;
  --notecard-bg-brown: #e6c9a8;
  --notecard-bg-pink: #fdcfe8;
  --notecard-bg-green: #ccff90;
  --notecard-bg-yellow: #fff475;
  --note-bg-light: #f2f2f2;
  --note-border-clr: #dddddd;
}

html {
  font-size: 100%;
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 67%;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 350px) {
  html {
    font-size: 45%;
  }
}
